* {
    box-sizing: border-box; /*indica que o tamanho agora levará em conta até a borda*/
    outline: none; /* é uma propriedade abreviada para configurar uma ou mais das propriedades de contorno*/
    transition: .1s; /* recurso para a criação de efeitos de animação nos elementos HTML*/
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1rem 0;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}
body{
    background-image: url('../assets/img/bg01.jpg');
    background-color: rgb(2, 59, 38);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
header {
    display: flex;
   align-items: center;
   flex-wrap: wrap;
}

header img {
   display: block;
   width: 4.5rem;
   height: 4.5rem;
   margin-right: 0.6rem;
}

header h1 {
   margin: 0;
   background-color: rgb(138, 255, 202);
}

header nav {
   width: 100%;
   text-transform: uppercase;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(3, 74, 42);
}
article{
    background-color: rgb(248, 248, 248);
    flex-grow: 1;
}
aside{
    background-color: rgb(204, 255, 218);
    width: 200px;
    padding: 0, 1rem;
    
}
main{
    display:flex;
}
footer{
    background-color: rgb(0, 64, 16);
    color: rgb(224, 255, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
footer a{
    font-size: 1.3rem;
    padding:0.5rem;
}

