<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front-Endeiros do Senac</title>
</head>
<body>
        <!--cabeçalho-->
    <header>
        <div class="header">
            <a href="index.html" title="Página incial"><img src="assets\img\html5.png" alt="Html 5 Logo"></a>
        <h1>Front-Endeiros do Senac</h1>
        <!--menu principal-->
        <nav>  
            <div class="nav">
                <a href="index.html" title="Página incial">
                    <i class="fas fa-home fa-fw"></i><span>Início</span>
                </a>
                <a href="article.html" title="">
                    <i class="fas fa-file-alt fa-fw"></i><span>Artigo</span>
                </a>
                <a href="news.html" title="o">
                    <i class="fas fa-file-upload fa-fw"></i><span>Notícias</span>
                </a>
                <a href="contacts.html" title="">
                    <i class="fas fa-comments fa-fw"></i><span>Contatos</span>
                </a>
                <a href="about.html" title="">
                    <i class="fas fa-info-circle fa-fw"></i><span>Sobre</span>
                </a>
        </nav>
    </header>
    <!--conteúdo principal-->
    <main>   
        <!--artigo principal-->
        <article>     
            <h2>Título da página</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, velit nemo, praesentium necessitatibus minus eius consequuntur, ipsam corrupti cum ullam numquam quas facere a optio possimus. Ipsum placeat maxime vero?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla mollitia ipsa quidem possimus dolorum itaque, magnam voluptate fugit odit blanditiis dignissimos molestiae sequi, veritatis, labore laudantium dolores placeat error neque.
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam atque minus in, hic iusto expedita ipsam! Repellendus modi ab molestiae natus, ut tenetur. Praesentium impedit fugiat nam eius enim.</p>
            </p>
        </article>
        <!--barra lateral-->
        <aside> 
            <h3>Destaques</h3>  
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, velit nemo, praesentium necessitatibus minus eius consequuntur, ipsam corrupti cum ullam numquam quas facere a optio possimus. Ipsum placeat maxime vero?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla mollitia ipsa quidem possimus dolorum itaque, magnam voluptate fugit odit blanditiis dignissimos molestiae sequi, veritatis, labore laudantium dolores placeat error neque.
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam atque minus in, hic iusto expedita ipsam! Repellendus modi ab molestiae natus, ut tenetur. Praesentium impedit fugiat nam eius enim.</p>
            </p>        
        </aside>
    </main>
    <!--rodapé-->
    <footer>   
        🏠
        © 2021 Formação .Net 2021.1
        ⇧ 
    </footer>
  

</body>
</html>